@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:regular");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
  font-family: Nunito;
}

.Bebas {
  font-family: Bebas Neue;
}

.Nunito {
  font-family: Nunito;
}

.Start2P {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
